<header class="header fade_in">
	<section class="container header_container clearfix">
		<div class="logo_branch clearfix">
			<a href="/" class="">
				<img class="logo" src="http://rapian.com/assets/img/logo-64.png" alt=""/>
				<p><span class="logo_text" data-hover="Rapian">Rapian</span></p>
			</a>
		</div>
		<div class="nav_toggle_holder">
			<div class="nav_toggle">
				<span class="nav_icon_bar"></span>
				<span class="nav_icon_bar"></span>
				<span class="nav_icon_bar"></span>
			</div>
		</div>
		<div class="nav">
			<span class="nav_top_arrow"></span>
		</div>
		<div class="header_account">
			<a target="_blank" href="http://rapian.com/auth/dang-ky.html?utm_source=top_navigation&amp;utm_medium=cpc&amp;utm_campaign=rapian_help" class="rap-button rap-button-medium rap-button-free" style="float: none;">Tạo website ngay</a>
		</div>
	</section>
</header>